<footer>
  <div class="derechos">
    <address>
      <p class="email">
        <a href="mailto:lumina@iconica.com.bo">
          <span class="glyphicon glyphicon-envelope"></span>
          lumina@iconica.com.bo</a>
        <a href="">
          <span class="glyphicon glyphicon-phone-alt"></span>
          (591-2) 2146766</a>
      </p>
    </address>
    <p>Las imágenes de esta galería son propiedad exclusiva
      de su autor. No está permitida su reproducción o distribución sin la
      autorización del fotógrafo o de Icónica SRL.</p>

  </div>
  <div class="iconica">
    <p>Producido por:</p>
    <span class="logo_iconica">Icónica</span>
  </div>
</footer>
