<div class="container">
  <ng-include src="'app/views/includes/header.html'"></ng-include>
  <div class="galeria_home">
    <img src="assets/images/home_slider.jpg" class="img-responsive">


    <h2 class="slogan">Fotografía boliviana para el mundo</h2>
  </div>
  <div class="destacado_home">
    <div class="txt_destacado_home">
      <h4 class="gal_destacada">Galería destacada</h4>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi sapiente voluptatum!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
        deserunt distinctio dolores esse eum laborum laudantium minus neque
        officiis porro quam quod tempora tenetur, vitae voluptate?</p>
      <a href="" class="btn_destacado_home">VISITAR GALERÍA</a>

    </div>
    <div class="img_destacado_home">
      <img src="assets/images/img_destacado.jpg" alt="" class="img-responsive">
    </div>

  </div>
  <ng-include src="'app/views/includes/footer.html'"></ng-include>
</div>
