<div class="container">
  <ng-include src="'app/views/includes/header.html'"></ng-include>
  <div class="galeria_home">
    <div>
      <carousel active="active" interval="vminicio.myInterval" no-wrap="vminicio.noWrapSlides">
        <slide uib-slide ng-repeat="diapositiva in vminicio.diapositivas track by $index">
          <img ng-src="{{api}}/{{diapositiva.imagen}}" style="margin:auto;" class="img-responsive">
        </slide>
      </carousel>
    </div>
    <div class="slogan" render-html="vminicio.contenido[0].contenido"></div>
  </div>
  <div class="cont_destacados">
    <div class="destacado_home">
      <div class="txt_destacado_home">
        <h4 class="gal_destacada">Galería destacada</h4>
        <h3>{{vminicio.galeria}}</h3>
        <p>{{vminicio.etiquetadestacada.descripcion}}</p>
        <a href ng-click="mostrarGaleria(vminicio.etiquetadestacada.etiquetas_id)" class="btn_destacado_home">VISITAR
          GALERÍA</a>
      </div>
      <div class="img_destacado_home">
        <a href ng-click="mostrarGaleria(vminicio.etiquetadestacada.etiquetas_id)">
          <img ng-src="{{api}}/{{vminicio.destacada.imagenes[0].imagen}}" alt="{{vminicio.destacada.imagenes[0].nombre}}"
             class="img-responsive">
        </a>
      </div>
    </div>

    <div class="destacado_home">
      <div class="txt_destacado_home">
        <h4 class="gal_destacada">Galería destacada</h4>
        <h3>{{vminicio.galeria2}}</h3>
        <p>{{vminicio.etiquetadestacada2.descripcion}}</p>
        <a href ng-click="mostrarGaleria(vminicio.etiquetadestacada2.etiquetas_id)" class="btn_destacado_home">VISITAR
          GALERÍA</a>
      </div>
      <div class="img_destacado_home">
        <a href ng-click="mostrarGaleria(vminicio.etiquetadestacada2.etiquetas_id)">
        <img ng-src="{{api}}/{{vminicio.destacada2.imagenes[0].imagen}}" alt="{{vminicio.destacada2.imagenes[0].nombre}}"
             class="img-responsive">
          </a>
      </div>
    </div>
  </div>

  <div class="descripcion_home" render-html="vminicio.contenido[1].contenido"></div>

  <ng-include src="'app/views/includes/footer.html'"></ng-include>
</div>
