<div class="container">
  <ng-include src="'app/views/includes/header.html'"></ng-include>
  <div class="galeria_home">
    <div>
      <carousel active="active" interval="vminicio.myInterval" no-wrap="vminicio.noWrapSlides">
        <slide uib-slide ng-repeat="diapositiva in vminicio.diapositivas track by $index">
          <img ng-src="{{api}}/{{diapositiva.imagen}}" style="margin:auto;" class="img-responsive">
        </slide>
      </carousel>
    </div>

  </div>
  <div class="slogan" render-html="vminicio.contenido"></div>
  <div class="destacado_home">
    <div class="txt_destacado_home">
      <h4 class="gal_destacada">Galería destacada</h4>
      <h3>{{vminicio.galeria}}</h3>
      <p>{{vminicio.etiquetadestacada.descripcion}}</p>
      <a href ng-click="mostrarGaleria(vminicio.etiquetadestacada.etiquetas_id)" class="btn_destacado_home">VISITAR GALERÍA</a>
    </div>
    <div class="img_destacado_home">
      <img ng-src="{{api}}/{{vminicio.destacada.imagenes[0].imagen}}" alt="{{vminicio.destacada.imagenes[0].nombre}}"
           class="img-responsive">
    </div>
  </div>
  <ng-include src="'app/views/includes/footer.html'"></ng-include>
</div>
