<div class="container carrito">
  <ng-include src="'app/views/includes/header.html'"></ng-include>
  <div class="cont_carrito">
    <h2>Fotografías elegidas</h2>
    <div class="item_carrito" ng-repeat="elemento in carroDeCompras">
      <div class="col-md-2">
        <img ng-src="{{api}}/{{elemento.imagen}}" alt="{{elemento.codigo}}" class="img-responsive">
      </div>
      <div class="col-md-6 caracteristicas">
        <ul class="list-unstyled">
          <li><strong>Código: </strong><span> {{elemento.codigo}}</span></li>
          <li><strong>Autor: </strong><span> {{elemento.fotografo}}</span></li>
          <li><strong>Soporte: </strong><span> {{elemento.soporte}}</span></li>
        </ul>
      </div>
      <div class="col-md-4 caracteristicas">
        <ul class="list-unstyled">
          <li><strong>Tamaño: </strong><span> {{elemento.tamanho}}</span></li>
          <li><strong>Cantidad: </strong> <span>{{elemento.cantidad}}</span></li>
          <li><strong>Costo:</strong> <span>Bs. {{elemento.totalbs}} ($USD {{elemento.totalsus}})</span></li>
          <li>
            <button class="btn btn-default cerrar" ng-click="vmcarrito.eliminarelemento($index)"><span
              class="glyphicon glyphicon-remove"></span></button>
          </li>
        </ul>
      </div>
    </div>
    <div class="total row" ng-if="carroDeCompras.length==0">
      No se eligieron fotografías aún.
    </div>
    <div class="total row" ng-if="carroDeCompras.length>0">
      <div class="col-md-4 col-md-offset-8">
        <h3>TOTAL: <strong>Bs. {{carroDeComprasDatos.bs}} ($USD {{carroDeComprasDatos.sus}})</strong></h3>
      </div>

    </div>
    <div class="row form_envio">
      <div class="col-md-6 col-md-offset-3">
        <h2>Datos de la compra</h2>
        <p>Llene los siguientes datos para recibir su pedido:</p>
        <div class="">
          <ul class="list-unstyled">
            <li class="form-group">
              <label for="nombre">Nombre completo: </label>
              <input id="nombre" type="text" class="form-control" ng-model="carroDeComprasDatos.nombre" placeholder="Nombre completo"
                     ng-required="true">
            </li>
            <li class="form-group">
              <label for="pais">País: </label>
              <input id="pais" class="form-control" type="text" ng-model="carroDeComprasDatos.pais" placeholder="País" ng-required="true">
            </li>
            <li class="form-group">
              <label for="ciudad">Ciudad: </label>
              <input id="ciudad" class="form-control" type="text" ng-model="carroDeComprasDatos.ciudad" placeholder="Ciudad"
                     ng-required="true">
            </li>
            <li class="form-group">
              <label for="direccion">Dirección: </label>
              <input id="direccion" class="form-control" type="text" ng-model="carroDeComprasDatos.direccion" placeholder="Dirección"
                     ng-required="true">
            </li>
            <li class="form-group">
              <label for="telefono">Teléfono: </label>
              <input id="telefono" class="form-control" type="text" ng-model="carroDeComprasDatos.telefono" placeholder="Teléfono"
                     ng-required="true">
            </li>
            <li class="form-group">
              <label for="infoadicional">Información adicional: </label>
                  <textarea id="infoadicional" class="form-control" rows="3" ng-model="carroDeComprasDatos.infoadicional"
                            placeholder="Información adicional" ng-required="true"></textarea>
            </li>
            <li class="form-group">
              <label for="zona">Zona: </label>
              <select id="zona" class="form-control" ng-model="carroDeComprasDatos.zona" ng-required="true">
                <option value="">Seleccione:</option>
                <option value="{{zona.id}}" ng-repeat="zona in vmcarrito.zonas">{{zona.nombre}}</option>
              </select>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-md-offset-6">
          <button class="btn btn-success btn-lg btn-block" ng-click="vmcarrito.confirmarCompra()">Confirmar Compra
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-include src="'app/views/includes/footer.html'"></ng-include>
</div>
