<div class="container carrito">
  <ng-include src="'app/views/includes/header.html'"></ng-include>
  <div class="cont_carrito">
    <h2>Carrito de compras</h2>
    <div class="item_carrito" ng-repeat="elemento in carroDeCompras">
      <div class="col-md-2">
        <img ng-src="{{api}}/{{elemento.imagen}}" alt="{{elemento.nombre}}" class="img-responsive">
      </div>
      <div class="col-md-6 caracteristicas">
        <h3>{{elemento.nombre}} - {{elemento.codigo}}</h3>
        <ul class="list-unstyled">
          <li><strong>Autor: </strong><span> {{elemento.fotografo}}</span></li>
        </ul>
      </div>
      <div class="col-md-4 caracteristicas">
        <ul class="list-unstyled">
          <li><strong>Tamaño: </strong><span> {{elemento.tamanho}}</span></li>
          <li><strong>Cantidad: </strong> <span>{{elemento.cantidad}}</span></li>
          <li><strong>Costo:</strong> <span>Bs. {{elemento.totalbs}} ($USD {{elemento.totalsus}})</span></li>
          <li>
            <button class="btn btn-default cerrar" ng-click="vmcarrito.eliminarelemento($index)"><span class="glyphicon glyphicon-remove"></span></button>
          </li>
        </ul>
      </div>
    </div>
    <div class="total row">
      <div class="col-md-4 col-md-offset-8">
        <h3>TOTAL: <strong>Bs. {{carroDeComprasBs}} ($USD {{carroDeComprasSus}})</strong></h3>
        <button class="btn btn-success btn-lg btn-block" ng-click="vmcarrito.confirmarCompra()">Confirmar Compra</button>
      </div>
    </div>
  </div>
  <ng-include src="'app/views/includes/footer.html'"></ng-include>
</div>
