<div class="container fotografo">
  <ng-include src="'app/views/includes/header.html'"></ng-include>
  <div class="ficha">
    <div class="datos_tecnicos">
      <div class="cont_datos_tecnicos">
        <div class="img">
          <img ng-src="{{api}}/{{vmfotografo.fotografo.imagen}}" alt="{{vmfotografo.fotografo.nombre}}" class="img-responsive">
        </div>
        <div class="txt">
          <h2>{{vmfotografo.fotografo.nombre}}</h2>
          <p class="material">{{vmfotografo.fotografo.soporte[0].soporte}}</p>
        </div>
      </div>
    </div>
    <div class="descripcion" ng-bind-html="vmfotografo.fotografo.biografia"></div>
  </div>
  <ul class="list-unstyled row galeria">
    <li class="cont_imagen" ng-repeat="imagen in vmfotografo.fotografo.imagenes" ng-click="vmfotografo.open('md', imagen)">
      <img ng-src="{{api}}/{{imagen.imagen}}" alt="{{imagen.nombre}}">
      <a ><span class="glyphicon glyphicon-shopping-cart"></span></a>
    </li>
  </ul>
  <ng-include src="'app/views/includes/footer.html'"></ng-include>
</div>
