<div class="container galeria_cont fotografo">
  <ng-include src="'app/views/includes/header.html'"></ng-include>
  <div class="cont_galeria">
    <h2>Galería: {{vmgaleria.galeria.etiqueta}}</h2>
    <p>Navega en las imágenes de esta colección.</p>
    <ul class="list-unstyled row galeria">
      <li class="cont_imagen" ng-repeat="imagen in vmgaleria.imagenes" ng-click="vmgaleria.open('md', imagen.imagenes[0])">
        <img ng-src="{{api}}/{{imagen.imagenes[0].imagen}}" alt="{{imagen.imagenes[0].nombre}}">
        <a href=""><span class="glyphicon glyphicon-shopping-cart"></span></a>
      </li>
    </ul>
  </div>
  <ng-include src="'app/views/includes/footer.html'"></ng-include>
</div>
