<div class="container fotografos">
  <ng-include src="'app/views/includes/header.html'"></ng-include>
  <div class="cont_fotografos">
    <h2>Fotógrafos</h2>
    <ul class="list-unstyled lista_fotografos">
      <li ng-repeat="fotografs in vmfotografos.fotografos">
        <div class="fotografo_thumbnail">
          <img ng-src="{{api}}/{{fotografs.imagen}}" ng-click="mostrarFotografo(fotografs.id)" alt="{{fotografs.nombre}}">
          <div class="caption">
            <p class="nombre">
              {{fotografs.nombre}}
            </p>
            <div ng-bind-html="fotografs.biografia"></div>

            <p class="ver_cat">
              <a href ng-click="mostrarFotografo(fotografs.id)">
                <span class="glyphicon glyphicon-chevron-right"></span>
                VER CATÁLOGO
              </a>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <ng-include src="'app/views/includes/footer.html'"></ng-include>
</div>
