/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
@import url('https://fonts.googleapis.com/css?family=Raleway:500,500i,700,700i');

$gris_lumina: #919395;
$gris_fondo: #B3B3B3;
$gris_medio: #979797;
$gris_obscuro: #333;
$gris_claro: #ddd;
$rojo: #F0193C;

$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: 'Raleway', sans-serif !default;
$headings-font-weight: 700 !default$text-color: $gris_lumina !default;

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


body {
  background: $gris_fondo;
  .container {
    background: white;
  }
}

/* HEADER  */

header {
  @extend .row;
  .utilities {
    nav {
      border: 0;
      background: none;
      margin-right: 0;
      ul {
        li {
          a {
            span.glyphicon {
              font-size: 1.4em;
            }
            span.badge {
              background: $rojo;
            }
          }
        }
      }
    }
  }
  .main-menu {
    nav {
      border: 0;
      background: none;
      margin-right: 20%;

    }
  }

  h1 {
    background: url("../assets/images/logo.svg") no-repeat;
    @extend .text-hide;
    height: 70px;
    width: 200px;
  }
}

/* HOME */

.galeria_home {
  @extend .row;
}

.slogan {
  text-align: center;
  font-style: italic;
  margin: 1.6em;
  color: lighten($gris_lumina, 20%);
}

.destacado_home {
  margin-bottom: 4em;
  @extend .row;
  .txt_destacado_home {
    @extend .col-md-5;
    @extend .col-md-offset-2;
    text-align: right;
    .gal_destacada{
      text-transform: uppercase;
      font-size:1em;
      &::after{
        content: '';
        display: inline-block;
        width: .8em;
        height: .8em;
        margin-left: .6em;
        border-radius:50%;
        background-color: $rojo;
      }
    }
    h3{
      color: $gris_obscuro;
      text-transform: uppercase;
      font-size: 1.4em;
      font-weight:700;
    }
    .btn_destacado_home{
      @extend .btn;
      @extend .btn-default;
    }
  }
  .img_destacado_home {
    @extend .col-md-5;
  }
}

/* FOTÓGRAFOS */

.fotografos{
  .cont_fotografos{
    @extend .row;
    margin: 0 20px;
    h2{
      font-size:1.4em;
      text-transform: uppercase;
      font-weight:700;
      color: $gris_obscuro;
      margin:0 0 2em 15px;
    }
    .lista_fotografos{
      li{
        @extend .col-md-3;
        .fotografo_thumbnail{
          img{
            max-height:208px;
            @extend .img-responsive;
          }
          .caption {
            margin:1em 0;
            width: 208px;
            p.nombre{
              text-transform: uppercase;
              font-size: 1.1em;
              color: $gris_obscuro;
            }
            p.ver_cat{
              text-align: right;
             a{
               color: $rojo;
             }
          }
          }
        }
      }
    }
  }
}


/* FOTÓGRAFO */
.fotografo{
  .ficha{
    @extend .row;
    .datos_tecnicos{
      @extend .col-md-5;
      .cont_datos_tecnicos{
        @extend .row;
        @extend .well;
        background: $gris_claro;
        .img{
          @extend .col-md-4;
        }
        .txt {
          @extend .col-md-8;
          h2{
            font-size: 1.2em;
            text-transform: uppercase;
            margin-top:0;
            margin-bottom:.4em;
            font-weight: 500;
            color: $gris_obscuro;
          }
          .material{
            text-transform: uppercase;
          }
          .medidas{
            margin-bottom: 0;
            strong{
              font-weight: 700;
              color: $gris_obscuro;
            }
          }
        }
      }
    }
    .descripcion{
      @extend .col-md-7;
    }
  }
  .galeria{
    @extend .list-unstyled;
    @extend .row;
    .cont_imagen{
      position: relative;
      float: left;
      max-height:208px;
      margin: 10px;
      a{
        position: absolute;
        bottom: 10px;
        right:10px;
        font-size:1.2em;
        color: $rojo;
      }
    }
  }
}

/* FOOTER */

footer {
  @extend .row;
  padding: 1.6em 0;
  border-top: 1px solid $gris_medio;
  margin:0 2em;
  .derechos {
    @extend .col-md-10;
    p{
      font-size: .8em;
      text-align: right;
    }
  }
  .iconica {
    @extend .col-md-2;
    p {
      font-size: .8em;
      text-transform: uppercase;
      color: $gris_obscuro;
      font-weight: 700;
      margin-bottom: 1em;
    }
    .logo_iconica {
      display: block;
      background: url("../assets/images/logo_iconica.svg") no-repeat;
      @extend .text-hide;
      width: 130px;
      height: 30px;
    }
  }


}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
