/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
@import url('https://fonts.googleapis.com/css?family=Raleway:500,500i,700,700i');

$gris_lumina: #919395;
$gris_fondo: #B3B3B3;
$gris_medio: #979797;
$gris_obscuro: #333;
$gris_claro: #ddd;
$rojo: #F0193C;
$yellow: #dbd68d;

$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: 'Raleway', sans-serif !default;
$headings-font-weight: 700 !default$text-color: $gris_lumina !default;

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: $gris_fondo;
  .container {
    background: white;
  }
}

/* HEADER  */

header {
  @extend .row;
  .cont_utilities {
    @media (max-width: $screen-sm-max) {
      float: right;

    }
    .utilities {
      nav {
        border: 0;
        background: none;
        margin-right: 0;

        @media (max-width: $screen-xs-max) {
          margin-bottom: 0;
        }
        ul {
          &.navbar-nav {
            margin: 0;
          }
          li {

            @media (max-width: $screen-xs-max) {
              float: left;
            }
            a {
              span.glyphicon {
                font-size: 1.4em;
              }
              span.badge {
                background: $rojo;
              }
            }
          }
        }
      }
    }
  }

  .main-menu {
    margin: 0;
    &.ng-leave {
      transition: 0.5s linear all;
      opacity: 1;

    }
    &.ng-leave.ng-leave-active {
      opacity: 0;
    }
    /* The starting CSS styles for the enter animation */
    &.ng-enter {
      transition: 0.5s linear all;
      opacity: 0;
    }

    /* The finishing CSS styles for the enter animation */
    &.ng-enter.ng-enter-active {
      opacity: 1;
    }
    @media (max-width: $screen-xs-max) {
      clear: both;
    }
    nav {
      border: 0;
      background: none;
      margin-right: 20%;
      @media (max-width: $screen-xs-max) {
        position: static;
        margin-bottom: 0;
        ul {
          margin: 0;
          li {
            border-bottom: 1px solid $gris_medio;
            padding-left: 10px;

          }
        }
      }
      @media (max-width: $screen-sm-max) {
        margin-right: 0;

      }
    }
  }

  h1 {
    background: url("../assets/images/logo.svg") no-repeat;
    @extend .text-hide;
    height: 70px;
    width: 200px;
    @media (max-width: $screen-sm-max) {
      float: left;
      width: 84px;
      height: 32px;
      margin: 10px 0;
    }

  }
}

/* HOME */

.galeria_home {
  @extend .row;

    .carousel-indicators li {
    visibility: hidden;
  }

}

.slogan {
  text-align: center;
  font-style: italic;
  margin: 1.6em;
  color: lighten($gris_lumina, 20%);
  @media (max-width: $screen-xs-max) {
    margin: .6em 0.4em;
    font-size: 1.8em;
  }
}

.destacado_home {
  margin-bottom: 4em;
  @media (max-width: $screen-xs-max) {
    margin-bottom: 2em;
  }
    @extend .row;
  .txt_destacado_home {
    @extend .col-md-5;
    @extend .col-md-offset-2;

    text-align: right;
    @media (max-width: $screen-xs-max) {
      text-align: left;
    }
    .gal_destacada {
      text-transform: uppercase;
      font-size: 1em;
      &::after {
        content: '';
        display: inline-block;
        width: .8em;
        height: .8em;
        margin-left: .6em;
        border-radius: 50%;
        background-color: $rojo;
      }
    }
    h3 {
      color: $gris_obscuro;
      text-transform: uppercase;
      font-size: 1.4em;
      font-weight: 700;
      @media (max-width: $screen-xs-max) {
        font-size:1.2em;
        margin-top: 0;
        line-height:1.4em;
      }
    }
    .btn_destacado_home {
      @extend .btn;
      @extend .btn-default;
      @media (max-width:$screen-xs-max) {
        display: block;
        margin:1em 0 ;
        padding: 1em;
      }
      }
  }
  .img_destacado_home {
    @extend .col-md-5;
  }
}

/* FOTÓGRAFOS */

.fotografos {
  .cont_fotografos {
    @extend .row;
    margin: 0 20px;
    h2 {
      font-size: 1.4em;
      text-transform: uppercase;
      font-weight: 700;
      color: $gris_obscuro;
      margin: 0 0 2em 15px;
    }
    .lista_fotografos {
      li {
        @extend .col-md-3;
        .fotografo_thumbnail {
          img {
            max-height: 208px;
            @extend .img-responsive;
          }
          .caption {
            margin: 1em 0;
            width: 208px;
            p.nombre {
              text-transform: uppercase;
              font-size: 1.1em;
              color: $gris_obscuro;
            }
            p.ver_cat {
              text-align: right;
              a {
                color: $rojo;
              }
            }
          }
        }
      }
    }
  }
}

/* FOTÓGRAFO */
.fotografo {
  .ficha {
    @extend .row;
    .datos_tecnicos {
      @extend .col-md-2;
      .cont_datos_tecnicos {
        @extend .row;
        .img {
          @extend .col-md-12;
        }
        .txt {
          h2 {
            font-size: 1.2em;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: .4em;
            font-weight: 500;
            color: $gris_obscuro;
          }
          .material {
            text-transform: uppercase;
          }
          .medidas {
            margin-bottom: 0;
            strong {
              font-weight: 700;
              color: $gris_obscuro;
            }
          }
        }
      }
    }
    .descripcion {
      @extend .col-md-10;
      h2 {
        margin-top: 0;
      }
      p {
        margin-bottom: .6em;
      }
    }
  }

}

.cont_galeria {
  h2 {
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 700;
    color: $gris_obscuro;
    //margin:0 0 2em 15px;
  }
}

.cont_imagen {
  position: relative;
  float: left;
  max-height: 208px;
  margin: 10px;
  a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.2em;
    color: $rojo;
  }
}

.galeria {
  @extend .list-unstyled;
  @extend .row;
}

/* MODAL */

.modal-header {
  .modal-title {
    font-weight: 500;
    color: $gris_medio;
    text-transform: uppercase;
    font-size: 1.4em;
  }
}

.modal-body {
  h3 {
    margin: 0 0 .6em 0;
    text-transform: uppercase;
    font-weight: 500;
    color: $gris_obscuro;
    font-size: 1.2em;
  }
  ul {
    li {
      margin-bottom: .4em;
      color: $gris_obscuro;
      &.cant {
        margin-top: 2em;
      }
      &.total {
        font-size: 1em;
        text-transform: uppercase;
        margin-top: 1em;
        color: $gris_obscuro;
        span {
          display: inline-block;
          vertical-align: top;
          text-transform: capitalize;
        }
      }
      label, strong {
        color: $gris_obscuro;
      }
      #cantidad {
        display: inline-block;
        margin-left: 10px;
        width: 60px;
        //background: lighten($yellow,10%);
        border: 1px solid $gris_medio;
        padding: 2px 10px;
      }
    }
  }
}

/*GALERIAS TEMÁTICAS*/
.galerias_tematicas {

  .cont_galerias {
    h2 {
      font-size: 1.4em;
      text-transform: uppercase;
      font-weight: 700;
      color: $gris_obscuro;
      margin: 0 0 2em 15px;
    }
    ul {
      @extend .row;
      @extend .list-unstyled;
      margin: 2em;
      li {
        @extend .col-md-4;
        a {
          display: block;
          background: $gris_claro;
          border: 1px sold $gris-medio;
          padding: 6em 4em;
          color: $gris_obscuro;
          &:hover {
            background: $gris-medio;
            text-decoration: none;
          }
        }
      }
    }
  }
}

/*CARRITO DE COMPRAS*/

.carrito {
  .cont_carrito {
    margin-bottom: 2em;;
    h2 {
      font-size: 1.4em;
      text-transform: uppercase;
      font-weight: 700;
      color: $gris_obscuro;
      margin: 0 0 2em 15px;
    }
    .item_carrito {
      border: 1px solid $gris-claro;
      border-bottom: 1px solid $gris_medio;
      position: relative;
      @extend .row;
      padding: 1em;
      margin: 0 4em;
      @media (max-width: $screen-xs-max) {
        margin: 0;
      }

      h3 {
        margin: 0 0 .6em 0;
        text-transform: uppercase;
        font-weight: 500;
        color: $gris_obscuro;
        font-size: 1.2em;
        text-align: left;
      }
      ul {
        li {
          margin-bottom: .4em;
          color: $gris_obscuro;
          &.cant {
          }
          &.total {
            text-transform: uppercase;
            color: $gris_obscuro;
            span {
              display: inline-block;
              vertical-align: top;
              text-transform: capitalize;
            }
          }
          label, strong {
            color: $gris_obscuro;
          }
          #cantidad {
            display: inline-block;
            margin-left: 10px;
            width: 60px;
            //background: lighten($yellow,10%);
            border: 1px solid $gris_medio;
            padding: 2px 10px;
          }
        }
      }
      .caracteristicas {
        padding-top: 2em;
      }
      .cerrar {
        position: absolute;
        right: 0;
        top: 0;
        border: none;
      }
    }
    .total {
      background: $gris_claro;
      padding: 1em;
      margin: 0 4em;
      @media (max-width: $screen-xs-max) {
        margin: 1em .5em;
      }

      h3 {
        margin-top: 0;
        font-weight: 500;
        font-size: 1.6em;
        color: $gris_obscuro;
      }
    }
      .form_envio{
        h2{
          margin:2em 0 1em 0;
        }
      }
  }
}

.contacto {

  .cont_contacto {
    padding: 4em;
    h2 {
      font-size: 1.4em;
      text-transform: uppercase;
      font-weight: 700;
      color: $gris_obscuro;
      margin: 0 0 2em 15px;
    }
    p {
      text-align: center;
    }
  }
}

/* FOOTER */

footer {
  @extend .row;
  padding: 1.6em 0;
  border-top: 1px solid $gris_medio;
  margin: 0 2em;
  @media (max-width: $screen-xs-max) {
    margin: 0;
    padding: 2em 0;
  }
    .derechos {
    @extend .col-md-10;
      @media (max-width: $screen-xs-max) {
        padding: 0;
      }
        p {
      font-size: .8em;
      text-align: right;
      @media (max-width: $screen-xs-max) {
        text-align: center;
      }
      }
  }
  .iconica {
    @extend .col-md-2;
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
      p {
      font-size: .8em;
      text-transform: uppercase;
      color: $gris_obscuro;
      font-weight: 700;
      margin-bottom: 1em;
    }
    .logo_iconica {
      display: block;
      background: url("../assets/images/logo_iconica.svg") no-repeat;
      @extend .text-hide;
      width: 130px;
      height: 30px;
      @media (max-width: $screen-xs-max) {
        margin: 0 auto;
      }
      }
  }

}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
